<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Title</title> 
<link href="static/bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="static/bootstrap/css/bootstrap-rtl.css" rel="stylesheet">

 </head>
  <body class="container">
   <div class="container" id="content" >
    <h1>
     شرکت پانیر
   
    </h1>
   
      </div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">منو</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">خانه <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">لینک</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">غیر فعال</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder=" چی می خوای؟" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">جستجو</button>
    </form>
  </div>
</nav>
  <div class="container" id="content" >
    <!-- The main page content -->
    <form class="form-outline my-2 my-lg-0 width=3px">
  <div class="form-group">
    <label for="exampleInputEmail1">آدرس ایمیل</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="ایمیل" width=2x >
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">پسورد</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="پسورد">
  </div>
  <div class="form-group">
    <label for="exampleInputFile">انتخاب فایل</label>
    <input type="file" id="exampleInputFile">
    <p class="help-block">برای مثال</p>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox">انتخاب کن
    </label>
  </div>
  <button type="submit" class="btn btn-info">ذخیره</button>
  <br>
  <br>
<div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th></th>
          <th>
            Extra small devices
            <small>Phones (&lt;768px)</small>
          </th>
          <th>
            Small devices
            <small>Tablets (&ge;768px)</small>
          </th>
          <th>
            Medium devices
            <small>Desktops (&ge;992px)</small>
          </th>
          <th>
            Large devices
            <small>Desktops (&ge;1200px)</small>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="text-nowrap" scope="row">Grid behavior</th>
          <td>Horizontal at all times</td>
          <td colspan="3">Collapsed to start, horizontal above breakpoints</td>
        </tr>
        <tr>
          <th class="text-nowrap" scope="row">Container width</th>
          <td>None (auto)</td>
          <td>750px</td>
          <td>970px</td>
          <td>1170px</td>
        </tr>
        <tr>
          <th class="text-nowrap" scope="row">Class prefix</th>
          <td><code>.col-xs-</code></td>
          <td><code>.col-sm-</code></td>
          <td><code>.col-md-</code></td>
          <td><code>.col-lg-</code></td>
        </tr>
        <tr>
          <th class="text-nowrap" scope="row"># of columns</th>
          <td colspan="4">12</td>
        </tr>
        <tr>
          <th class="text-nowrap" scope="row">Column width</th>
          <td class="text-muted">Auto</td>
          <td>~62px</td>
          <td>~81px</td>
          <td>~97px</td>
        </tr>
        <tr>
          <th class="text-nowrap" scope="row">Gutter width</th>
          <td colspan="4">30px (15px on each side of a column)</td>
        </tr>
        <tr>
          <th class="text-nowrap" scope="row">Nestable</th>
          <td colspan="4">Yes</td>
        </tr>
        <tr>
          <th class="text-nowrap" scope="row">Offsets</th>
          <td colspan="4">Yes</td>
        </tr>
        <tr>
          <th class="text-nowrap" scope="row">Column ordering</th>
          <td colspan="4">Yes</td>
        </tr>
      </tbody>
    </table>
  </div>
</form>
 
  </div>

 
 
  </body>
</html>